#msg-box3-18 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-18 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-18 .lead P {
  text-align: center;
  font-size: 30px;
}
#msg-box3-18 .mbr-section-title {
  font-size: 36px;
}
#menu-1c .navbar-toggler {
  color: #000;
}
#menu-1d .navbar-toggler {
  color: #000;
}
